:root
{
    --answer-btn-color:rgb(26, 173, 33);
    --answer-btn-border:rgb(12, 110, 12);
}

.newAnswerButton
{
    width: 100%;
    height: 2rem;
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid var(--answer-btn-border);
    background-color: var(--answer-btn-color);
    text-align: center;
    font-size: 0.9rem;
    color: white;
}

.newAnswerButton:active
{
    animation: btnClick 0.5s ease-in-out forwards;
}

@keyframes btnClick {
    0% {
      transform: scale(0.98);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  