.button{
    display: block;
    position: absolute;
    border: none;
    left: 12.3rem;
    top: 4.3rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    background-color: #fff;
}
.buttonSecend{
    top: 1.5rem;
}
.buttonThird{
    top: 1.5rem;
}

.button:active,
.button:hover{
    background-color: #ccc;
}
