.circe_main{
    height: 50rem;
    width: 50rem;
    position: absolute;
    background-color: rgb(73, 47, 173);
    border-radius: 100%;
    top: -10rem;
    right: -10rem;
    z-index: -10;
    display: none;
}
.circe1{
    height: 10rem;
    width: 10rem;
    top: 10rem;
    right: 65%;
}
.circe2{
    height: 8rem;
    width: 8rem;
    top: 30rem;
    right: 65%;
}
.circe3{
    height: 7rem;
    width: 7rem;
    top: 4rem;
    right: 85%;
}
.circe4{
    height: 5rem;
    width: 5rem;
    top: 3rem;
    right: 48%;
}
.circe5{
    height: 10rem;
    width: 10rem;
    top: 32rem;
    right: 91%;
}
.circe6{
    height: 7rem;
    width: 7rem;
    top: 48rem;
    right: 93%;
}
.circe7{
    height: 5rem;
    width: 5rem;
    top: 45rem;
    right: 52%;
}
.circe8{
    height: 6rem;
    width: 6rem;
    top: 43rem;
    right: 23%;
}
.circe9{
    height: 25rem;
    width: 25rem;
    top: 20rem;
    left: 25%;
    display: block;
}
@media (min-width: 768px){
    .circe_main{
        display: block;
    }
    .circe1{
        display: block;
    }
    .circe2{
        display: block;
    }
    .circe3{
        display: block;
    }
    .circe4{
        display: block;
    }
    .circe5{
        display: block;
    }
    .circe6{
        display: block;
    }
    .circe7{
        display: block;
    }
    .circe8{
        display: block;
    }
}
@media (min-width: 430px){
    .circe9{
        display: none;
    }
}