
.icon-main:before { content: '\e800'; } /* '' */
.icon-my:before { content: '\e801'; } /* '' */
.icon-pytanie:before { content: '\e802'; } /* '' */
.icon-test:before { content: '\e803'; } /* '' */
.icon-ustawienia:before { content: '\e804'; } /* '' */
.icon-portfel:before { content: '\e805'; } /* '' */
.icon-baza:before { content: '\f009'; } /* '' */
.icon-koszyk:before { content: '\f217'; } /* '' */
