.sectionContainer
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.904);
    border-left: none;
    border-right: none;
    display: flex;
    height: fit-content;
    width: 100%;
    opacity: 0;
    transition: 0.6s ease-out transform;
    transition: 0.3 ease-out opacity;
    box-shadow:var(--content-container-shadow) 1px 2px 8px 1px;
}

.sectionContainer:nth-child(2n)
{
    flex-direction: row-reverse;
    transform: translateX(90%);
}

.sectionContainer:nth-child(2n+1)
{
    flex-direction: row;
    transform: translateX(-90%);
}

.sectionContainer:nth-child(2n).visible,
.sectionContainer:nth-child(2n+1).visible
{
    transform: translateX(0%);
    opacity: 1;
}

.sectionContainer:nth-child(2n) .textContainer
{
    text-align: left;
}

.sectionContainer:nth-child(2n+1) .textContainer
{
    text-align: right;
}

.sectionContainer svg
{
    cursor: default;
}

.image
{
    min-width: 30%;
    max-width: 50%;
}

.textContainer
{
    font-size: 0.84rem;
    font-weight: bold;
    padding: 0.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:426px)
{
    .textContainer
    {
        font-size: 1rem;
        padding: 0.8rem;
    }
}

@media screen and (min-width:501px)
{
    .textContainer
    {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

@media screen and (min-width:769px)
{

    .image
    {
        border-radius: 10px;
        min-width: 20%;
        max-width: 60%;
    }

    .sectionContainer
    {
        width: 85%;
        border-radius: 10px;
    }

    .sectionContainer:nth-child(2n)
    {
        margin-left: auto;
        box-shadow:var(--content-container-shadow) 1px 2px 8px 1px;
    }

    .sectionContainer:nth-child(2n+1)
    {
        margin-right: auto;
        box-shadow:var(--content-container-shadow) -1px 2px 8px 1px;;
    }

    .sectionContainer:nth-child(2n).visible
    {
        transform: translateX(0.5rem);
        opacity: 1;
    }

    .sectionContainer:nth-child(2n+1).visible
    {
        transform: translateX(-0.5rem);
        opacity: 1;
    }
}

@media screen and (min-width:1025px)
{
    .textContainer
    {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

@media screen and (min-width:1301px)
{
    .textContainer
    {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding: 1rem;
    }
}