
.icon-main:before { content: '\e800'; } /* '' */
.icon-my:before { content: '\e801'; } /* '' */
.icon-pytanie:before { content: '\e802'; } /* '' */
.icon-test:before { content: '\e803'; } /* '' */
.icon-ustawienia:before { content: '\e804'; } /* '' */
.icon-mod:before { content: '\e805'; } /* '' */
.icon-baza:before { content: '\f009'; } /* '' */
.icon-admin:before { content: '\f121'; } /* '' */
