.caontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.input_checkBox{
    padding: 0.5rem;
}
.container_info{
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .caontainer {
        justify-content: flex-start;
    }
}