.coursesContainer
{
  /* border: purple solid 2px; */
  min-height: 100%;
  width: 100%;
  flex: none;
  transition: 0.3s ease-out transform;
  transform: translateX(-220%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.coursesContainer.visible
{
  transform: translateX(-100%);
}

.buttonContainer
{
  width: 100%;
  height: fit-content;
  display: flex;
}

.basket
{
  background-color: var(--background-color);
  width: 8rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: rgb(214 214 214 / 53%) 2px 2px 10px 0.5px;
  padding: 0.3rem 0rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemsCount
{
  width: 1.2rem;
  background-color: rgb(240, 240, 240);
  height: 1.2rem;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketDisplay
{
  position: absolute;
  left: 0;
  top: 3rem;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--content-container-shadow) 2px 2px 10px 0.5px;
  height: 14rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: displayAnimation 0.1s ease-out forwards;
}

.header
{
  padding: 0 0.6rem;
  width: 100%;
  height: 2rem;
  position: sticky;
  top:0;
  border-bottom: 1px rgb(206, 206, 206) solid;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
  gap: 0.4rem;
}

.confirmPurchase
{
  width: 7rem;
  padding: 0.2rem;
  background-color: rgb(0, 122, 0);
  color: white;
  margin-left: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmPurchase:active
{
  animation: btnClick 0.5s ease-in-out forwards;
}

.itemsList
{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  overflow: auto;
}

.itemsList::-webkit-scrollbar
{
  width: 7px;
  border-radius: 0.5rem;
}


.itemsList::-webkit-scrollbar {
  border-radius: 0.5rem;
  background-color: #eee;
}

.itemsList::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgb(187, 187, 187);
}

.footer
{
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #eee;
  min-height: 2rem;
  font-size: 1rem;
  left: 0;
  bottom: 0;
  height: 1rem;
  border-top: 1px rgb(206, 206, 206) solid;
  z-index: 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.8rem;
}

.returnButton 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 1.2rem;
  border-radius: 2rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0.3rem 0rem;
  color: white;
  width: 8rem;
  cursor: pointer;
  box-shadow: rgba(214, 214, 214, 0.527) 2px 2px 10px 0.5px;
}

.returnButton svg 
{
  margin-left: 0.5rem;
}

.returnButton:active 
{
  animation: btnClick 0.5s ease-in-out forwards;
}

@media screen and (min-width:426px)
{
  .coursesContainer
  {
    transition: 0.5s ease-out transform;
  }
  
  .basket
  {
    font-size: 1.2rem;
    width: 10rem;
  }

  .basketDisplay
  {
    width: 25rem;
  }

  .returnButton
  {
    width: 9rem;
  }

  .footer
  {
    font-size: 1.2rem;
  }
}

@media screen and (min-width:769px)
{
  .basketDisplay
  {
    width: 34rem;
    height: 18rem;
  }
}

@keyframes btnClick {
    0% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes displayAnimation
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
  