:root
{
    --course-name-color:rgb(59, 1, 107);
    --university-name-color: rgb(90, 90, 90);
    --course-price-color:rgb(4, 65, 4);
}

.cardContainer
{
    width: 90%;
    box-shadow: var(--content-container-shadow) 1px 2px 8px 1px;
    border-radius: 10px;
    height: 23rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

.overlay
{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.548);
    transition: ease-out 0.2s opacity, ease-out 0.1s background-color;
    font-size: 1.1rem;
    color: white;
    border-radius: 10px;
    opacity: 0;
}

.overlay:hover
{
    opacity: 1;
}

.overlay:active
{
    background-color: rgba(0, 0, 0, 0.712);
}

.image
{
    width: 100%;
    height: 8rem;
    background-image: url("../../image/banner.jpg");
    background-size: cover;
}

.name
{
    width: 100%;
    margin-top: 1.8rem;
    text-align: center;
    color: var(--course-name-color);
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 4rem;
}

.price
{
    color: var(--course-price-color);
    font-size: 1.3rem;
    text-align: right;
    margin-right: 0.2rem;
    margin-top: 1.8rem;
    height: fit-content;
}

.universityName
{
    color: var(--university-name-color);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.8rem;
    height: fit-content;
}

@media screen and (min-width:376px)
{
    .cardContainer
    {
        width: 13rem;
        
    }

    

}