:root {
  --sidebar-color-light: rgb(132, 101, 255);
  --icon-color: white;
  --icon-color-hovered:rgb(118, 84, 253);
}

.sidebarContainer {
  height: 100vh;
  width: 2.5rem;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: var(--sidebar-color-light);
  transform: translateX(-100%);
  transition: width 0.3s ease-out , transform 0.15s ease-in 0.1s;
}

.sidebarUnfolded {
  width: 11rem;
  transform: translateX(0%);
}

.sidebarLinkList {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.4rem;
  cursor: pointer;
}

.icon {
  font-size: 1.1rem;
  color: var(--icon-color);
  margin-left: 0.5rem;
  transition: transform 0.2s ease-out;
  transition: color 0.1 ease-out;
}

.rotate {
  transform: rotate(-180deg);
  margin-bottom: 2px;
}

.textContainer {
  margin-left: 0.7rem;
  font-weight: 700;
  color: var(--icon-color);
  white-space: nowrap;
  font-size: 0.8rem;
  transition: color 0.1 ease-out;
}

.hovered .icon,
.hovered .linkTextContainer
{
  color: var(--icon-color-hovered) ;
}

.linkStyle {
  text-decoration: none;
}

.taggerDiv {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 0 0.3rem;
  margin-top: 4rem;
}

.taggerElement {
  background-color: var(--icon-color);
  width: 100%;
  height: 2.2rem;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 426px) {
  .sidebarContainer 
  {
    padding-top: 1rem;
    width: 4rem;
    transform: none;
    transition: width 0.2s ease-out;
  }

  .sidebarUnfolded
  {
    width: 14.5rem;
  }

  .icon
  {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .textContainer
  {
    margin-left: 1.2rem;
    font-size: 1rem;
  }

  .taggerDiv
  {
    padding: 0 0.6rem;
  }
}
