:root {
  --background-color: rgb(94, 94, 252);
  --border-color: rgb(4, 4, 168);
  --btn-gradient: linear-gradient(to right, #7810ff, #d606ff);
}

.container {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: translateX(-210%);
  flex: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(136, 136, 136, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  z-index: 101;
}

.submitContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move {
  transform: translateX(-100%);
}

.return-btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  gap: 0.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  box-shadow: 0px 0px 5px 5px #eee;
  overflow: hidden;
}

.return-btn:active,
.confirm-btn:active {
  animation: btnClick 0.5s ease-in-out;
}

.h1 {
  font-size: 2rem;
  color: rgb(94, 94, 252);
  border-bottom: 1px solid var(--background-color);
  padding: 1rem;
  user-select: none;
  grid-column: span 2;
}

.form {
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 50rem;
  box-shadow: 0px 0px 10px 3px rgb(128, 128, 128);
}

.form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.select {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  color: var(--background-color);
  box-shadow: 0px 0px 10px rgb(216, 216, 216);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 2rem;
}

.label {
  font-size: 1rem;
  transform: translateY(1.75rem);
  margin-right: auto;
  margin-left: 0.5rem;
  color: rgb(94, 94, 252);
  transition: all 0.2s ease-in-out;
  cursor: text;
  font-weight: bold;
}

.select:focus {
  outline: none;
}

.confirm-btn {
  padding: 0.75rem;
  width: 100%;
  font-weight: bold;
  color: white;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgb(204, 204, 204);
  margin-top: 1rem;
  grid-column: span 2;
}

.btn-container {
  width: 100%;
  margin-top: 1rem;
}

.scale {
  transform: scale(0.6);
}

@keyframes btnClick {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .form > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn-container {
    grid-column: span 2;
  }
}
