:root {
  --background-color: rgb(94, 94, 252);
  --border-color: rgb(4, 4, 168);
  --btn-gradient: linear-gradient(to right, #7810ff, #d606ff);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--background-color);
}

.label {
  font-size: 1.5rem;
  align-self: flex-start;
  transform: translateX(0.5rem) translateY(2.25rem);
  color: var(--background-color);
  transition: all 0.2s ease-in-out;
  cursor: text;
}

.input:focus {
  outline: none;
}
.label--focused {
  transform: scale(0.9);
}
.error {
  color: red;
}

@media (min-width: 768px) {
  .container:first-child {
    grid-column: span 2;
  }
}
