.container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.input {
  position: absolute;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 3rem;
  border: 1px solid #eee;
  box-shadow: -1px 2px 7px #eee;
  z-index: 99;
  padding-left: 1rem;
  font-size: 1.25rem;
  width: 0;
  transition: all 0.3s ease-in-out;
  color: rgb(132, 101, 255);
}

.input:focus {
  outline: none;
}

.questionMark {
  position: absolute;
  z-index: 100;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 1px solid rgb(54, 25, 173);
  background-color: rgb(132, 101, 255);
  transition: all 0.2s ease-in-out;
  box-shadow: -1px 2px 7px #eee;
}

svg {
  cursor: pointer;
  font-weight: bold;
}

.show {
  min-width: calc(100% - 1.5rem);
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  animation: inputVibe 0.5s ease-in;
}

.setAnimation {
  animation: iconAnimation 0.5s ease-in;
}

@keyframes iconAnimation {
  0% {
    transform: translateX(-1rem);
    transform: scale(0.8);
  }
  50% {
    transform: translateX(1rem);
    transform: scale(1.2);
  }
  100% {
    margin-left: auto;
    transform: scale(1);
  }
}

@keyframes inputVibe {
  0% {
    transform: translateX(-1rem);
    transform: scale(0.6);
  }
  50% {
    transform: translateX(1rem);
    transform: scale(1.01);
  }
  100% {
    margin-left: auto;
    transform: scale(1);
  }
}
