:root
{
    --elements-color-light:#ab0bbd;
    --logo-color:white;
    --button-background-color:white;
    --button-shadow:#772780;
    --font-color:#4e0f46;
}

.navbar
{
    width: 100%;
    background-color: var(--elements-color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
}

.logo
{
    font-size: 1.2rem;
    padding: 5px;
    color: var(--logo-color);
    text-decoration: none;
}

.loginButtons
{
    margin-left: auto;
    width: 9rem;
    display: flex;
    justify-content: space-evenly;
}

.authButton
{
    text-decoration: none;
    height: 1.8rem;
    font-size: 0.9rem;
    color: var(--font-color);
    background-color: var(--button-background-color);
    width:  3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: var(--button-shadow) 0px 0px 6px 2px;
    transition: 0.3s all ease-out;
}

.authButton:hover
{
    transform: scale(1.1);
}


@media screen and (min-width: 426px)
{
    .loginButtons
    {
        width: 15rem;
    }

    .authButton
    {
        width:6rem;
        height: 2rem;
        font-size: 1.1rem;
    }

    .logo
    {
        font-size: 1.3rem;
    }

    .navbar
    {
        height: 5rem;
    }
}
