:root {
  --sidebar-color-light: #ab0bbd;
  --sidebar-shadow: #6b2374;
  --icon-color: white;
  --icon-color-hovered:#ab0bbd;
}

.sidebarContainer {
  height: calc(100vh - 3rem);
  width: 2.5rem;
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: var(--sidebar-color-light);
  box-shadow: var(--sidebar-shadow) 0px 0px 10px 1px;
  transition: all 0.2s ease-out;
}

.sidebarUnfolded {
  width: 11rem;
}

.sidebarLinkList {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.4rem;
}

.icon {
  font-size: 1.1rem;
  color: var(--icon-color);
  margin-left: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transition: color 0.1 ease-out;
}

.rotate {
  transform: rotate(-180deg);
  margin-bottom: 2px;
}

.linkTextContainer {
  margin-left: 0.7rem;
  font-weight: 700;
  color: var(--icon-color);
  white-space: nowrap;
  font-size: 0.8rem;
  transition: color 0.1 ease-out;
}

.hovered .icon,
.hovered .linkTextContainer
{
  color: var(--icon-color-hovered) ;
}

.linkStyle {
  text-decoration: none;
}

.taggerDiv {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 0 0.4rem;
  margin-top: 0.8rem;
}

.taggerElement {
  background-color: var(--icon-color);
  box-shadow: var(--icon-color) 0px 0px 6px 1px;
  width: 100%;
  height: 1.8rem;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 426px) {
  .sidebarContainer 
  {
    width: 4rem;
    height: calc(100vh - 5rem);
  }

  .sidebarUnfolded
  {
    width: 14.5rem;
  }

  .icon
  {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .linkTextContainer
  {
    margin-left: 1.2rem;
    font-size: 1rem;
  }

  .taggerDiv
  {
    padding: 0 0.6rem;
  }
}
