.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.paragraph {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(132, 101, 255);
  text-align: center;
}
