.siteContainer {
    height: calc(100vh - 3rem);
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
  }
  
  @media screen and (min-width: 426px) {
    .siteContainer {
      height: calc(100vh - 5rem);
      padding: 0.8rem;
    }
  }
  
  @media screen and (min-width: 769px) {
    .siteContainer.logged {
      margin-left: 4rem;
    }
  }
  
  @media screen and (min-width: 1601px) {
    .siteContainer {
      padding: 1rem 4rem;
    }
  }