.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.container_input{
    width: 16.5rem;
    height: 15rem;
    margin: 2rem 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
    border-radius: 1rem;
    box-shadow: 3px 4px 40px -5px rgba(216, 183, 232, 1);
}
form{
    width: 90%;
}
.divForm{
    margin: 2rem 0;
}
.submit_btn{
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: white;
}
.paragraf{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
    color: red;
}
