.container{
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
.container_all{
    background-color: #fff;
    box-shadow: 3px 4px 40px -5px rgb(146, 140, 140);
    border-radius: 1rem;
    border: 2px rgb(73, 47, 173) solid;
}
.container_inputs{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divForm{
    margin: 1.5rem 0;
}
.validError{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttonContainer{
    width: 100%;
    height: 4rem;
}
.submit_btn{
    font-size: 20px;
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, #7810ff, #d606ff);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: white;
}
.paragraf_h1{
    height: 5rem;
    font-size: 0.8rem;
    color: rgb(73, 47, 173);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraf{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
    color: red;
}
.labelInput{
    color: rgb(73, 47, 173);
    border-color: rgb(73, 47, 173);
}
@media (min-width: 768px){
    .container_inputs{
        height: 15rem;
    }
    .container_all{
        width: 40rem;
    }
    .inputContainer{
        flex-direction: row;
        justify-content: space-around;
    }
    .paragraf_h1{
        font-size: 1rem;
    }
}