*{
    font-family: sans-serif;
    margin: 0;
    padding: 0%;
}
.image{
    width: 100%;
    height: 100vh;
    background-image: url('../image/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 16.5rem;
    height: 35rem;
    margin: 2rem 0;
    background-color: #fff;
    padding: 0.3rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.nav{
    position: relative;
    width: 14rem;
    margin: 4rem auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-around;
}
.head{
    margin: 2rem auto;
    text-align: center;
}
.head > img{
    width: 2.5rem;
    margin: 0 1rem;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    border-radius: 1.5rem;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
}
.input_grup{
    width: 15rem;
    position: absolute;
    transition: .5s;
}
.submit_btn{
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: white;

}
.chech_box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 66px;
    position: absolute;
}
.toggle_btn{
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.btn{
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 0.8rem;
  transition: .5s;  
}
#login{
    /* position: absolute; */
    transform: translateX(0);
}
#loginOff{
    /* position: absolute; */
    transform: translateX(200%);
}
#register{
    /* position: absolute; */
    transform: translateX(200%);
}
#registerOff{
    /* position: absolute; */
    transform: translateX(0);
}
#btnMoveOn{
    transform: translateX(100%);
}
#btnMoveOff{
    transform: translateX(0);
}



@media (min-width: 768px){
    .container{
        width: 25rem;
        height: 38rem;
    }
}
