*{
    font-family: sans-serif;
    margin: 0;
    padding: 0%;
}
.image{
    width: 100%;
    height: calc(100vh - 3rem);
    /* background-image: url('../image/banner.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.container{
    width: 16.5rem;
    height: 35rem;
    margin: 2rem 0;
    background-color: #fff;
    padding: 0.3rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
    border-radius: 1rem;
    box-shadow: 3px 4px 40px -5px rgba(216, 183, 232, 1);
}
.nav{
    position: relative;
    width: 14rem;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4.5rem;
}
.inputAndButton{
    position: relative;
}
.navCenter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.paragraf{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
    color: red;
}
.paragrafadd{
    text-align: center;
    margin: 3rem 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 30%;
}
.mainSeccend{
    height: 15%;
}
.input_grup{
    width: 15rem;
    position: absolute;
    transition: .5s;
}
.submit_btn{
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: white;
}
button:disabled{
    background: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
    width: 100%;
    padding: 0.7rem;
    border: 0;
    outline: none;
    border-radius: 2rem;
}
.checbox_input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chech_box{
    margin: 30px 10px 30px 0;
}
.stopka{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vh;
    align-items: flex-end;
    width: 100%;
    position: absolute;
}
.stopka1{
    height: 13.5vh;
}
span{
    color: #777;
    font-size: 12px;
}
.toggle_btn{
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.toggle_btnColor1{
    color: white;
}
.btn{
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 0.8rem;
  transition: .5s;  
}
#login{
    transform: translateX(0);
}
#loginOff{
    transform: translateX(200%);
}
#register{
    transform: translateX(200%);
}
#registerOff{
    transform: translateX(0);
}
#btnMoveOn{
    transform: translateX(100%);
}
#btnMoveOff{
    transform: translateX(0);
}
@media (min-width: 768px){
    .container{
        width: 22rem;
        height: 38rem;
        box-shadow: 3px 4px 40px -5px rgba(216, 183, 232, 1);
    }
    .nav{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}
@media (min-width: 426px) {
    .image{
        height: calc(100vh - 5rem);
    }
}
