.container{
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
    overflow: hidden;
}
.container_all{
    width: 90vw;
    background-color: #fff;
    box-shadow: 3px 4px 40px -5px rgb(146, 140, 140);
    border-radius: 1rem;
    border: 2px rgb(73, 47, 173) solid;
}
.container_input{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
form{
    width: 90%;
}
.divForm{
    margin: 2rem 0;
}
.submit_btn{
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, #7810ff, #d606ff);
    border: 0;
    outline: none;
    border-radius: 2rem;
    color: white;
}
.paragraf_h1{
    height: 5rem;
    color: rgb(73, 47, 173);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.paragraf{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
    color: red;
}
.labelInput{
    color: rgb(73, 47, 173);
    border-color: rgb(73, 47, 173);
}
@media (min-width: 768px){
    .container{
        height: calc(100vh - 5rem);
    }
    .container_all{
        width: 50%;
    }
}
