.container{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-left: auto;
    gap: 4rem;
    padding: 1rem;
    margin-top: auto;
}
@media screen and (min-width: 768px)
{
    .container{
        height: calc(100vh - 5rem);
        width: 90vw;
        padding: 2rem;
    }
}