.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1rem;
    height: calc(100vh - 5rem);
}
.main{
    width: 90vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 8px 3px 26px 1px rgba(0, 1, 2, 1);
}
.managerContainer{
    display: flex;
    justify-content: flex-end;
}
.titleContainer{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.couestionsContener{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.couestionsContener > p{
    font-size: 1.5rem;
}
.btnContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.btn{
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
    background: linear-gradient(to right, #7810ff, #d606ff);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover{
    transform: scale(1.04);
    color: white;
}
svg:hover{
    fill: red;
}
@media (min-width: 768px) {
    .main{
        width: 100vh;
        padding: 1rem;   
    }
    .btn{
        font-size: 1.5rem;
        width: 100%;
    }
}