.main {
  width: 100%;
  border: 1px solid #ccc;
  margin: auto auto;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
}
.managerContainer {
  display: flex;
  justify-content: flex-end;
}
.titleContainer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.couestionsContener {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.couestionsContener > p {
  font-size: 1.5rem;
}
.btnContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.btn {
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 90%;
  background: linear-gradient(to right, #7810ff, #d606ff);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}
.btn:hover {
  transform: scale(1.04);
}
.svg:hover {
  fill: red;
}
@media (min-width: 768px) {
  .main {
    width: 100%;
    max-width: 70rem;
    padding: 1rem;
  }
  .btn {
    font-size: 1.5rem;
    width: 100%;
  }
}
